<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">

<head>
  {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="{{ SITEURL }}/{{ output_file }}" />

    <title>{% block title %}{{ SITE_SUBTEXT }}{% endblock title %}</title>

    {% if EXTRA_FAVICON %}
      <link rel="icon" type="image/png" href="/favicon-196x196.png" sizes="196x196">
      <link rel="icon" type="image/png" href="/favicon-160x160.png" sizes="160x160">
      <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
      <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
      <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    {% endif %}


    {% if FEED_ATOM %}
      <link type="application/atom+xml" rel="alternate" href="/{{ FEED_ATOM }}"  title="{{ SITENAME }} Atom Feed">
    {% endif %}
    {% if FEED_RSS %}
      <link type="application/rss+xml" rel="alternate" href="/{{ FEED_RSS }}" title="{{ SITENAME }} RSS Feed">
    {% endif %}

    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      {# WARNING: Respond.js doesn't work if you view the page via file:// #}
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  {% endblock %}
</head>

<body>
  {% include "include/header.html" %}
  <div class="container">
    {% block content %}{% endblock %}
  </div>
  {% include "include/footer.html" %}

  <script src="{{ SITEURL }}/theme/js/jquery.min.js"></script>
  <script src="{{ SITEURL }}/theme/js/bootstrap.min.js"></script>
</body> <!-- 42 -->

</html>
